DATABASE_URL="postgres://..." # leave as empty to use sqlite

# Required for every chain you're serving (see constants.ts)
PONDER_RPC_URL_11155931="riseTestnetRpc"
# Local docker
PONDER_RPC_URL_1337="localDockerRpc"
